html {
  font-size: 50%;
  color: #000000;
  background-color: #f4f4f4;

  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(34, 34, 34));
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #fff;
}

.header h1 {
  font-size: 500%;
  letter-spacing: 3rem;
  margin-bottom: 1%;
}

.header p {
  font-size: 200%;
  font-style: italic;
  margin-top: -10px;
}

.grid {
  padding-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;
}

.buttons .toggle-start {
  display: flex;
  padding: .5%;
  margin-top: -30px;
  font-size: 200%;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons .clear {
  display: flex;
  padding: .5%;
  margin-top: -30px;
  margin-left: 10px;
  font-size: 200%;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons .randomize {
  display: flex;
  padding: .5%;
  margin-top: -30px;
  margin-left: 10px;
  font-size: 200%;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.play {
  width: 40px;
  filter: invert(100%);
}

.clear {
  width: 60px;
}

.randomize {
  width: 60px;
}