html {
  font-size: 50%;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f4f4f4;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.header h1 {
  font-size: 500%;
  letter-spacing: .5rem;
  margin-bottom: 1%;
}

.header p {
  font-size: 300%;
  font-style: italic;
  margin-top: 0px;
}

.grid {
  padding-top: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;
}

.buttons .toggle-start {
  display: flex;
  padding: .5%;
  margin-top: -30px;
  font-size: 200%;
  background-color: #7cc79e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons .clear {
  display: flex;
  padding: .5%;
  margin-top: -30px;
  margin-left: 10px;
  font-size: 200%;
  background-color: #7cc79e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.play {
  width: 40px;
  filter: invert(100%);
}

.clear {
  width: 60px;
}